* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
}


body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images6.alphacoders.com/461/461075.jpg);
}

.box-main {
    background-color: #0c0c0c;
    opacity: 0.8;
    color: #000000;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
    transition: all 0.3s ease;
}

.loading {
    background-image: url('path-to-your-loading-icon.gif');
    background-size: cover;
}

.loading-spinner {
    background-image: url('path-to-your-loading-spinner.gif');
    background-size: cover;
    width: 20px;
    height: 20px;
    display: none;
}

.loading .loading-spinner {
    display: inline-block;
}

.input {
    border: none;
    outline: nome;
    padding: 10px;
    border-radius: 25px;
    font-size: 18px;
    background-color: #9191912b;
    color: #ffff;
    width: calc(100% - 100px);
}

.button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #9191912b;
    cursor: pointer;
    float: right;
}

.img-button {
    width: 20px;
}

.img-previsao {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}   

.box-medium {
    margin-top: 30px;
}

.city {
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;  
}

.temp {
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}

.box-smaller {
    display: flex;  
    align-items: center; 
    margin-top: 20px;
}

.text-forecast {
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.moisture {
    color: #ffffff;
    margin-top: 20px;
}

@media (max-width: 834px) {
    .box-main {
        width: calc(80% - 60px);
    }
    .input {
        width: calc(90% - 90px);
        font-size: 15px;
    }
}
